////////////////////////////////////////
// Tailwind Imports - Optional
////////////////////////////////////////

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

////////////////////////////////////////
// Utils
////////////////////////////////////////

// @import 'utils/variables';
// @import 'utils/mixins';

////////////////////////////////////////
// Component Imports
////////////////////////////////////////

@import 'imports/example';
@import 'imports/accordion';
@import 'imports/modal';
@import 'imports/tabs';
@import 'imports/slider';

/* purgecss start ignore */

*, *:before, *:after {
  box-sizing: border-box;
}
.wrapper {
  margin: 100px 0;
  padding: 0 40px;
}
/* purgecss end ignore */
